<h1>Stupid Coaching</h1>

<div class="p-3 mb-2 bg-light text-dark">.bg-light

  <p> <%= params[:user_question] %> </p>
  <p> -You</p>


</div>

<div class="p-3 mb-2 bg-info text-dark">.bg-info

  <p> <%= @answer %></p>
  <p> -Your Coach</p>

  <a href="/ask" class="link-primary">Ask a new question</a>
</div>
